@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Paytone One', sans-serif;
}

body {
    background-color: #252839;
    color: #fff;
}

.area{
    background: #252839;  
    background: -webkit-linear-gradient(to left, #2c3e50, #2c3e50);  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: fondo 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 30s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes fondo {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

#load-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#load-container h1 {
font-size: 4rem;
color: #252839;
-webkit-text-stroke: .1rem #2c3e50;
position: relative;
}

#load-container h1:before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    color: #2ecc71;
    -webkit-text-stroke: 0;
    overflow: hidden;
    border-right: 2px solid;
    animation: animate 8s infinite;
    }

@keyframes animate{
    0%, 10%, 100% {
        width: 0;
    }
    50%, 70%{
        width: 100%;
    }
}
    

#load-container button {
    display: flex;
    align-content: space-between;
    margin: 5%;
    border: 0;
    outline: 0;
    font-size: 30px;
    padding: 5px 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    }
    

#load-container button:hover {
    transform: scale(1.2);
}

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  
  .show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal h1 {
    margin: 0;
    color: black;
  }
  
  .modal p {
    font-size: 15px;
    color: black;
  }
  
#game-container {
    display: none;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid rgb(58, 58, 60);
    padding: 30px;
    margin: 2px;
    width: 50px;
    height: 50px;
    perspective: 1000px;
    transition: transform 1s ease;
    transform-style: preserve-3d;
}

.typed {
    border-color: rgb(86, 87, 88);
    animation-name: typed;
    animation-duration: 0.1s;
}

.flipped {
    transform: rotateX(180deg) scaleY(-1);
}

.correct {
    color: white;
    background-color: rgb(83, 141, 78) !important;
    border-color: rgb(83, 141, 78) !important;
}

.invalid {
    color: white;
    background-color: rgb(181, 159, 59) !important;
    border-color: rgb(181, 159, 59) !important;
}

.wrong {
    pointer-events: none;
    color: white;
    background-color: rgb(58, 58, 60) !important;
    border-color: rgb(58, 58, 60) !important;
}

.input-field {
    border: 0;
    outline: 0;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 10px;
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 350px;
}

.input-field:focus {
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
}

.input-button {
    border: 0;
    outline: 0;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 350px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.input-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    transform: scale(1.05);
}

#message {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

/* Keyboard Styles */
.keyboard-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.keyboard-row button {
    border: 0;
    outline: 0;
    background-color: rgb(129, 131, 132);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.keyboard-row button:hover {
    background-color: rgb(110, 110, 110);
    transform: scale(1.05);
}

.enter {
    width: 100px !important;
}
.key {
    width: 50px;
}
.del {
    width: 80px !important;
}

/* animations */
@keyframes typed {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
